/*Production, Quantity and Cost Style*/

#salt_water_per_sec, #salt_per_sec {
  color:#0616c9;
}

#num_salt_water, #num_salt, #num_turtles, #num_crabs {
  color:#9b870c;
}

#turtle_cost, #crab_cost {
  color:green;
}

/*Salt Water Style*/

.salt_water {
  border: 2px solid darkBlue;
  background-color:darkBlue;
  color:white;
}

.salt_water:hover {
  background-color:lightBlue;
  color:black;
}

.salt_water_section {

}

.salt_water_stats {

}

.salt_water_stats:hover {

}

/*Crab Style*/

.crab {
  border: 2px solid red;
  background-color:red;
  color:white;
}

.crab:hover {
  background-color:#ff9999;
  color:black;
}

.crab_section {

}

.crab_stats {

}

.crab_stats:hover {

}

/*Dev Powers*/

button {
  border-radius:16px;
}

.God {
  border: 2px solid gray;
  color:white;
  background-color:black;
}

.God:hover {
  background-color:white;
  color:black;
}
