/*Production, Quantity and Cost Style*/

#salt_water_per_sec, #salt_per_sec, #peppercorns_per_sec, #ginger_per_sec, #turtle_salt_water_per_sec, #crab_salt_per_sec, #birb_peppercorns_per_sec, #mole_ginger_per_sec {
  color:#0616c9;
}

#num_salt_water, #num_salt, #num_peppercorns, #num_ginger, #num_turtles, #num_crabs, #num_birbs, #num_moles{
  color:#9b870c;
}

#turtle_cost, #crab_cost, #birb_cost, #mole_cost {
  color:green;
}

/*Basics Section Box*/

.basic_resources {
  border:2px dotted black;
  width:35%;
  height:90px;
  float:left;
}

/*Basic Producers Section Box*/

.basic_producers {
  border:2px dotted black;
  width:35%;
  height:90px;
  float:left;
}

/*Better Resources Section Box*/

.better_resources {
  border:2px dotted black;
  width:35%;
  height:90px;
  float:left;
}

/*Better Producers Section Box*/

.better_producers {
  border:2px dotted black;
  width:35%;
  height:90px;
  float:left;
}

/*Salt Water Style*/

.salt_water {
  border: 2px solid darkBlue;
  background-color:darkBlue;
  color:white;
}

.salt_water:hover {
  background-color:lightBlue;
  color:black;
}

.salt_water_stats {
  font-syle:normal;
  display:inline;
}

.salt_water:hover + .salt_water_stats {
  font-style:italic;
}

/*Salt Style*/

.salt {
  border: 2px solid pink;
  background-color:pink;
  color:white;
}

.salt:hover {
  background-color:#ff69b4;
  color:black;
}

.salt_stats {
  font-syle:normal;
  display:inline;
}

.salt:hover + .salt_stats {
  font-style:italic;
}

/*Turtle Style*/

.turtle {
  border: 2px solid darkGreen;
  background-color:darkGreen;
  color:white;
}

.turtle:hover {
  background-color:lightGreen;
  color:black;
}

.turtle_stats {
  font-style:normal;
  display:inline;
}

.turtle:hover + .turtle_stats {
  font-style:italic;
}

/*Crab Style*/

.crab {
  border: 2px solid red;
  background-color:red;
  color:white;
}

.crab:hover {
  background-color:#ff9999;
  color:black;
}

.crab_stats {
  font-style:normal;
  display:inline;
}

.crab:hover + .crab_stats {
  font-style:italic;
}
  
/*Birb Style*/
  
.birb {
  border: 2px solid #808000;
  background-color:#808000;
  color:white;
}

.birb:hover {
  background-color:yellow;
  color:black;
}

.birb_stats {
  font-style:normal;
  display:inline;
}

.birb:hover + .birb_stats {
  font-style:italic;
}

/*Mole Style*/

.mole {
 border: 2px solid brown;
  background-color:brown;
  color:white;
}

.mole:hover {
  background-color:#b5651d;
  color:black;
}

.mole_stats {
  font-style:normal;
  display:inline;
}

.mole:hover + .mole_stats {
  font-style:italic;
}

/*Dev Powers and Misc*/

button {
  border-radius:16px;
  margin-top:5px;
  margin-left:5px;
}

h3 {
  margin:5px;
}
