/*Production, Quantity and Cost Style*/

#salt_water_per_sec, #salt_per_sec, #turtle_salt_water_per_sec, #crab_salt_per_sec, #birb_peppercorn_per_sec {
  color:#0616c9;
}

#num_salt_water, #num_salt, #num_turtles, #num_crabs, #num_birbs {
  color:#9b870c;
}

#turtle_cost, #crab_cost, #birb_cost {
  color:green;
}

/*Basics Section Box*/

.basic_resources {
  border:2px dotted black;
  width:320px;
  height:90px;
  float:left;
}

/*Basic Producers Section Box*/

.basic_producers {
  border:2px dotted black;
  width:375px;
  height:90px;
  float:left;
}

/*Better Resources Section Box*/

.better_resources {
  border:2px dotted black;
  width:350px;
  height:90px;
}

/*Better Producers Section Box*/

.better_producers {
  border:2px dotted black;
  width:385px;
  height:90px;
  float:left;
}

/*Salt Water Style*/

.salt_water {
  border: 2px solid darkBlue;
  background-color:darkBlue;
  color:white;
}

.salt_water:hover {
  background-color:lightBlue;
  color:black;
}

/*Salt Style*/

.salt {
  border: 2px solid pink;
  background-color:pink;
  color:white;
}

.salt:hover {
  background-color:#ffe9ec;
  color:black;
}

/*Turtle Style*/

.turtle {
  border: 2px solid darkGreen;
  background-color:darkGreen;
  color:white;
}

.turtle:hover {
  background-color:lightGreen;
  color:black;
}

.turtle_stats {
  display:none;
}

.turtle:hover + .turtle_stats {
  display:inline;
}

/*Crab Style*/

.crab {
  border: 2px solid red;
  background-color:red;
  color:white;
}

.crab:hover {
  background-color:#ff9999;
  color:black;
}

.crab_stats {
  display:none;
}

.crab:hover + .crab_stats {
  display:inline;
}
  
/*Birb Style*/
  
.birb {
  border: 2px solid;
  background-color:;
  color:white;
}

.birb:hover {
  background-color:;
  color:black;
}

.birb_stats {
  display:none;
}

.birb:hover + .birb_stats {
  display:inline;
}

/*Dev Powers and Misc*/

button {
  border-radius:16px;
  margin-top:5px;
  margin-left:5px;
}

h3 {
  margin:5px;
}
